! Base16 shapeshifter
! Scheme: Tyler Benziger (http://tybenz.com)

URxvt*background:                     #000000
URxvt*foreground:                     #ababab
URxvt*cursorColor:                    #ababab

URxvt*scrollColor:                    #ababab
URxvt*highlightColor:                 #102015
URxvt*highlightTextColor:             #555555

URxvt*color0:                         #000000
URxvt*color1:                         #e92f2f
URxvt*color2:                         #0ed839
URxvt*color3:                         #dddd13
URxvt*color4:                         #3b48e3
URxvt*color5:                         #f996e2
URxvt*color6:                         #23edda
URxvt*color7:                         #ababab
URxvt*color8:                         #343434
URxvt*color9:                         #e92f2f
URxvt*color10:                        #0ed839
URxvt*color11:                        #dddd13
URxvt*color12:                        #3b48e3
URxvt*color13:                        #f996e2
URxvt*color14:                        #23edda
URxvt*color15:                        #f9f9f9

URxvt*color16:                        #e09448
URxvt*color17:                        #69542d
URxvt*color18:                        #040404
URxvt*color19:                        #102015
URxvt*color20:                        #555555
URxvt*color21:                        #e0e0e0

URxvt.scrollBar: false
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.font: xft:monospace:size=11.5

